<%= include ./partials/header %>

<body id='wrapper'>

<%= include ./partials/nav %>

  <h1><%= title %></h1>
  <h1><%= city %></h1>


<%= include ./partials/general_winloss.ejs %>
<%= include ./partials/ajax_call %>
<%= include ./partials/footer %>

</body>
</html>
