<%= include ./partials/header %>
    <link rel='stylesheet' href='/stylesheets/redwings.css' />
  </head>
<body id='wrapper'>

<%= include ./partials/nav %>

  <h1><%= title %></h1>
  <h1><%= city %></h1>

<%= include ./partials/redwings_winloss %>

<%= include ./partials/footer %>
