<%= include ./partials/header %>

<body id='wrapper'>

  <%= include ./partials/nav %>

  <div id="background">

    <h1><%= title %></h1>
    <h1><%= city %></h1>

  <%= include ./partials/general_winloss.ejs %>
  <%= include ./partials/general_goals.ejs %>
  <%= include ./partials/ajax_call %>

  </div>

  <%= include ./partials/footer %>

</body>
</html>
